URxvt.background: #000000
URxvt.foreground: #ffffff
URxvt.scrollBar: false
URxvt.perl-ext:
URxvt.perl-ext-common:
URxvt.font: xft:Source Code Pro:size=10
URxvt.boldFont: xft:Source Code Pro:bold:size=10
